body {
    color: #7F7F7F;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 0% 0%;
}


.search_comp{
	width: 100%;
}
img {
  border-radius: 3%;
  width: 100%;
}

#default_radio{
	display: none;
}